@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{padding: 0;margin: 0;}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}
/* áreas */
#areas{
    display: grid;
    grid-template-areas: 
        "nav"
        "header"
        "sobremi"
        "servicios"
        "contacto"
        "footer";
    /* grid-template-rows: 80px 660px 440px 320px 500px 250px; */
    grid-template-rows: 80px 2fr 1fr 1fr 1fr 250px;
    grid-template-columns: 100%;
    grid-column-gap: 15px;
}
nav{
    grid-area: nav;
}
header{
    grid-area: header;
}
section.sobremi{
    grid-area: sobremi;
}
section.servicios{
    grid-area: servicios;
}
section.contacto{
    grid-area: contacto;
}
section.footer{
    grid-area: footer;
}


/* menu */

.logoCabecero{
    /* float: left; */
    width: 260px;
    margin:0 30px;
    /* margin: 18px; */
}
.nav__container{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav{
    height: 80px;
    color: #102067;
    background-color: #fff;
}

.nav__input:checked + .nav__menu{
    background-color: #fff0d0;
}
.nav__label, .nav__input{
    display: none;
}
.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    padding: 20px;
}
.nav__item{
    color: #102067;
    font-weight: 600;
    text-decoration: none;
}
.nav__item:hover{
    color:#09D0CB;
}


/* header */
.header{
    background-color: #fff0d0;
    padding: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
/* txt */
.contenedor-txt{
    margin: auto;
}
.tituloIndex{
    font-size:40px;
    color:#102067;
}
#parrafoIndex{
    color:#102067;
    margin: auto;
    font-size: 20px;
}
/* img */
.contenedor-img{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 450px;
    padding: 20px;
    grid-gap: 15px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* sobremi */
.sobremi{
    background-color:#ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 80px;
    margin: 10px 0px;
}

.imagenSobreMi{
    width: 360px;
    margin: 20px 0px 10px 0px;
    object-fit: cover;
}

.textoC_Sobremi{
    display: inline-block;
    margin: auto 0;
}

.titulo{
    color: #102067;
}

/* servicios */
.servicios {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}
.titulo-servicio-index{
    color: #102067;
    text-align: center;
    
}
/* .cards_C{
    margin-left: 4%;
}; */


.subtitulo_servicios{
    font-weight: 600;
    color: #102067;
}

.card{
    background-color:#fff0d0;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    /* margin-left: 40px; */
    padding:30px;
    margin: 40px;
}
.card:hover{
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.123) ;
}
i{
    color:#D83FD5;
    font-size: 60px;
}
/* contacto */
.contacto{
    padding: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#contacto{
    padding: 30px;  
    background-color:#8CE1DF;
    width: 30%;
    height: 75%;
    display: block;
    border-radius: 20px;
}

#contacto label{
    color:#102067;
    font-weight:500px;
    padding: 5px;
}

#contacto input{
    width: 100%;
    height: 35px;
    border: 1px solid #102067;
    border-radius: 9px;
    margin: 5px;
}

#titulo-contacto{
    color:#102067;
}
/* footer */
.footer{
    font-size: 20PX;
    font-weight: 600;
}

.piePagina{
    background-color:#102067;
    color: white;
    text-align: center;
    padding: 30px;
}

.iconfooter{
    color: #EDAB11;
    font-size: 30px;
}


/* index.html > servicios */

.servicios_2{
    margin: 80px;
}

.subtitulo_servicios{
    font-weight: 600;
    color: #102067;
}

.provisional{
margin: 10px;
padding: 10px;
width: 300px;
}

.portafolio-card{
    margin: 40px;
}

.sobremi_pag{
    margin: 40px;
}

.contacto_pag{
    margin: 40px;
}

/* estilos pagina servicios.html */



.parrafos-servicio{
    color: #102067;
    font-size: 17px;
}
.titulo-servicio{
    color: #102067;
    font-size: 35px;
}

.subtitulos-servicios{
    font-size: 20px;
    font-weight:bold;
    color: #D83FD5;
}

/* Estilos portafolio.html */
.contenedor-img-portafolio{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 500px;
    padding: 20px;
    grid-gap: 15px;
}
.img-portafolio{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titulo-portafolio{
    color: #102067;
    font-size: 35px;
    text-align: center;
}
.subtitulo-portafolio{
    font-size: 20px;
    font-weight:bold;
    color: #D83FD5;
}


/**MEDIA QUERY*/
@media (min-width: 320px) and (max-width: 865px){
/* *INDEX  */
.logoCabecero{
 /* float: left; */
width: 150px;
margin:0 30px;
/* margin: 18px; */
}


/* HADER */
    .contenedor-txt{
        margin: auto;
    }
    .tituloIndex{
        font-size: 25px;
        color:#102067;
        margin:0px 30px;
    }
    #parrafoIndex{
        color:#102067;
        margin: auto;
        font-size: 18px;
        margin: 0px 30px;
    }
/* MENU */
    .nav__label{
        display: block;
        cursor: pointer;
    }

    .nav__img{
        margin:5px 5px;
        height: 30px;
    }

    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: #fff0d0;
        color: #fff;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }
    .nav__input:checked + .nav__menu{
        clip-path: circle(100% at center);
    }

    

    .contenedor-img{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 450px;
        padding: 20px;
        grid-gap: 10px;
    }
    .img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    
/* SOBREMI */
    .imagenSobreMi{
        width: 250px;
    }
/* SERVICIOS */
    .servicios {
        text-align: center;
    }
/* CONTACTO */
    .contacto{
        padding: 0px;
        margin-bottom: 20px;
        /* display: flex;
        flex-wrap: wrap;
        justify-content: space-around; */
    }
    #contacto{
        padding: 50px;  
        background-color:#8CE1DF;
        width: 40%;
        height: 30%;
        border-radius: 20px;
    }
    
    #contacto label{
        color:#102067;
        font-weight:500px;
        padding: 5px;
    }
    
    #contacto input{
        width: 100%;
        height: 35px;
        border: 1px solid #102067;
        border-radius: 9px;
        margin: 5px;
    }
    
    /* * SERVICIOS.HTML */
    .servicios_2{
        margin: 30px;
    }
    .titulo-servicio{
        color: #102067;
        font-size: 20px;
    }
    
    .subtitulos-servicios{
        font-size: 15px;
        font-weight:bold;
        color: #D83FD5;
    }
    .parrafos-servicio{
        color: #102067;
        font-size: 15px;
    }

    iframe{
        width: 300px;
        height: 200px;
    }

    /* *PORTAFOLIO.HTML */
    .contenedor-img-portafolio{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 300px;
        padding: 20px;
        grid-gap: 15px;
    }
    .img-portafolio{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
/*tablet y portatil*/
@media (min-width: 753px) and (max-width:1023px){

    .logoCabecero{
        /* float: left; */
       width: 200px;
       margin:0 30px;
       /* margin: 18px; */
       }
    #contacto{
        padding: 50px;  
        background-color:#8CE1DF;
        width: 40%;
        height: 60%;
        border-radius: 20px;
    }
    .servicios_2{
        margin: 40px;
    }

    /* *PORTAFOLIO.HTML */
    .contenedor-img-portafolio{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows:500px;
        padding: 20px;
        grid-gap: 15px;
    }
    .img-portafolio{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media (min-width:1024) and (max-width:1200px){
    .logoCabecero{
        /* float: left; */
       width: 260px;
       margin:0 30px;
       /* margin: 18px; */
       }
    #contacto{
        padding: 50px;  
        background-color:#8CE1DF;
        width: 50%;
        height: 70%;
        border-radius: 20px;
    }
}

