@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



*{padding: 0;margin: 0;font-family:'Poppins', sans-serif;}

$azulTurqui: #102067;
$azulTurquiBrillante: #193DDB;
$amarilloSuave: #FFE6AF;
$amarilloFuerte: #EDAB11;
$azulSuave: #8CE1DF;
$azulSubido: #09D0CB;
$Fucsia: #D83FD5;
$blanco: #ffffff;

body{
background-color:$blanco;
}

/* áreas */
#areas{
    height: 100vh;
    display: grid;
    grid-template-areas: 
        "nav"
        "header"
        "sobremi"
        "servicios"
        "contacto"
        "footer";
    grid-template-rows: 80px 2fr 1fr 1fr 1fr 250px;
    grid-template-columns: 100%;
    grid-column-gap: 15px;
}
nav{
    grid-area: nav;
}
header{
    grid-area: header;
}
section.sobremi{
    grid-area: sobremi;
}
section.servicios{
    grid-area: servicios;
}
section.contacto{
    grid-area: contacto;
}
section.footer{
    grid-area: footer;
}


/* menu */
.logoCabecero{
    width: 260px;
    margin:0 30px;
}
.nav__container{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav{
    height: 80px;
    color: $azulTurqui;
    background-color:$blanco;
}

.nav__input:checked + .nav__menu{
    background-color:$amarilloSuave;
}
.nav__label, .nav__input{
    display: none;
}
.nav__menu{
    display: grid;
    grid-auto-flow:column;
    gap: 3em;
    padding: 20px;
}
.nav__item{
    color:$azulTurqui;
    font-weight: 600;
    text-decoration: none;

    &:hover{
        color:$azulSubido;
    }
}

/* header */
.header{
    background-color:$amarilloSuave;
    padding: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* txt */
.contenedor-txt{
    padding-top: 90px;
    padding-bottom: 30px;
    margin: auto;
    animation-name:anima;
    animation-duration: 7s;
    animation-iteration-count: 1;  
}

/* img */
.contenedor-img{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
    padding: 40px;
    grid-gap: 15px;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* sobremi */
.sobremi{
    background-color:$blanco;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 60px;
    margin: 10px 0px;
}

.imagenSobreMi{
    width: 360px;
    margin: 20px 0px 10px 0px;
    object-fit: cover;
    animation-name:animaSobre;
    animation-duration: 15s;
    animation-iteration-count: 1;  
}

@keyframes animaSobre{
    0%{transform:translateX(80px);}
    
    30%{}
    
    100%{}
    
    }

.textoC_Sobremi{
    display: inline-block;
    margin: auto 0;
}

/* servicios */
.servicios{
    display: flex;
    flex-flow: column wrap;
    margin: auto;
}

.titulo-servicio-index{
    color:$azulTurqui;
    text-align: center;
}

.subtitulo_servicios{
    font-weight: 600;
    color:$azulTurqui;
}

.cards_C{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-self: center;
}
.card{
    background-color:$amarilloSuave;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    padding:30px;
    margin: 40px;
    transition: all 1s;

    &:hover{
        box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
        transform: translate(0px, -20px);
    }
}

i{
    color:$Fucsia;
    font-size: 60px;
}

/* contacto */
.contacto{
    padding: 0px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#contacto{
    padding: 30px;  
    width: 40%;
    height: 75%;
    display: block;
    border-radius: 20px;

    label{
        color:$azulTurqui;
        font-weight:500px;
        padding: 5px;
    }

    input{
        width: 100%;
        height: 35px;
        border: 1px solid $azulTurqui;
        border-radius: 9px;
        margin: 5px;
    }
}

::placeholder{
    padding: 0 6px;
    font-size: 12px;
    font-family: "poppins";
    color:$azulTurqui;
}
#titulo-contacto{
    color:$azulTurqui;
}

.boton{
    background-color: $azulSuave;
    border: none;
    font-weight: bolder;
    color:$azulTurqui;
    width: 100%;
    height: 38px;
    padding: 6px;
    border-radius: 16px;
    margin: 6px;
    letter-spacing: 2px;
    transition: all 1s ease;

    &:hover{
        background-color:$azulSubido;
        border: none;
        font-weight: bolder;
        color:$azulTurqui;
    }
}

/* footer */
.footer{
    font-size: 20PX;
    font-weight: 600;
}

.titulofooter{
font-weight:bolder;
}

.piePagina{
    background-color:$azulTurqui;
    color:$amarilloFuerte;
    text-align: center;
    padding: 30px;
}

.iconfooter{
    color:$amarilloFuerte;
    font-size: 30px;

    &:hover{
        color:$azulSubido;
    }
}


/* index.html > servicios */

.servicios_2{
    margin: 80px;
}

.subtitulo_servicios{
    font-weight: 600;
    color:$azulTurqui;
}
.grid-img-servicios{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 30px;
}

.provisional{
margin: 10px;
padding: 10px;
transition: all 2s ease;
width: 350px;
}

.sobremi_pag{
    margin: 40px;
}

.contacto_pag{
    margin: 40px;
    display: flex;
    justify-content: center;
}

/* estilos pagina servicios.html */

.contenedor_img_servicios{
    height: 350px;
    width: 350px;
    overflow: hidden;

}

.contenedor_img_servicios img:hover{
    width: 400px;
}


@mixin colorYtamaño($color, $fontSize){
    color: $color;
    font-size: $fontSize;
} 
.parrafos-servicio{
    @include colorYtamaño($azulTurqui, 17px)
}
.titulo-servicio{
    @include colorYtamaño($azulTurqui, 35px)
}
.tituloIndex{
    @include colorYtamaño($azulTurqui, 40px)
}

.subtitulos-servicios{
    font-size: 20px;
    font-weight:bold;
    color:$Fucsia;
}

.video{
    width: 90%;
    margin: 30px;
    /* width:800px; */
}

/* Estilos portafolio.html */
.contenedor-img-portafolio{
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 500px;
    padding: 40px;
    grid-gap: 20px;
}

.titulo-proyecto{
    font-weight: bolder;
    font-size: 20px;
    color: $azulTurqui;
    animation-name:animaTitulo;
    animation-duration: 6s;
    animation-iteration-count: 1;  
}
@keyframes animaTitulo{
    0%{transform:translateX(60px);}
    
    30%{}
    
    100%{}
    
    }
/* estilos contacto */
.cards-Contenedor{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    }

.img-card-cont{
margin: auto 0;
}

.margen{
    margin-top:50px;
}

.parrafo-proyecto{
    font-size: 18px;
    padding-top: 20px;
}
.descripcion-proyecto{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.herramientas-proyecto img{
    height: 50px;
    padding-top: 20px;
    padding-right: 5px;
    animation-name:anima;
    animation-duration: 6s;
    animation-iteration-count: 1;  
    
}

@keyframes anima{
0%{transform:translateY(60px);}

30%{}

100%{}

}

.img-portafolio{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow:
    11.1px 8.2px 26.7px rgba(0, 0, 0, 0.096),
    42px 31px 213px rgba(0, 0, 0, 0.07)
}


@mixin subtitulosYtitulos( $color, $tamañoLetra, $pesoLetra) {
    color:$color;
    font-size: $tamañoLetra;
    font-weight: $pesoLetra;
    
}
.titulo-portafolio{
    color:$azulTurqui;
    font-size: 35px;
    text-align: center;
    font-weight: bolder;
}
.subtitulo-portafolio{
    @include subtitulosYtitulos($Fucsia, 20px, bold)
}

/* sobre mi.html */
.titulo-sobremi{
    @include subtitulosYtitulos($azulTurqui, 35px, bolder)
}
.CarruselContenedor{
width:70%;
margin: 100px auto;
}

.contenedor-sobremi{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.contenedor-texto{
    width: 50%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitulos-sobremi{
    font-size: 25px;
    font-weight: bolder;
    color:$Fucsia;
}

.icono-herramienta{
    width: 60px;
    margin: 10px;
}

.lo-ow{
    width: 160px;
}

.img-sobremi-main{
    width:500px;
    border-radius: 20px;
}

.card-title{
color:$azulTurqui;
font-weight: bolder;
}

.titulo{
    @extend .card-title
}

.card-text{
color:$azulTurqui;
}

/* CONTACTO.HTML */
.card-contacto{
    background-color:$amarilloSuave;
    border-radius: 20px;
    text-align: center;
    display:flex;
    padding:30px;
    margin: 40px;
    transition: all 1s;
}

@import"responsive";